<div class="login-container">
  <h2>Entrar</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <input
      type="email"
      placeholder="E-mail"
      formControlName="email"
      class="form-input"
    />
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
      E-mail obrigatório ou inválido
    </div>

    <div class="password-wrapper">
      <input
        [type]="hide ? 'password' : 'text'"
        placeholder="Senha"
        formControlName="password"
        class="form-input"
      />
      <button type="button" class="toggle-btn" (click)="hide = !hide">
        {{ hide ? '👁️' : '🚫' }}
      </button>
    </div>
    <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error">
      Senha obrigatória
    </div>

    <button
      type="submit"
      class="submit-button"
      [disabled]="form.invalid || form.pending"
    >
      <span class="button-text">Entrar</span>
      <div class="button-glow"></div>
    </button>
  </form>

  <a routerLink="/register">Criar conta</a>
</div>