<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<div class="detalhes-container" *ngIf="laboratorio">
  <h2>{{ laboratorio.nome }}</h2>

<div class="computador-grid">
  <ng-container *ngFor="let computador of computadores; let i = index">
    <div class="computador-card" [ngClass]="{ 'left-side': (i % 10) < 5, 'right-side': (i % 10) >= 5 }">
      <div class="menu-container">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-botao">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>

        <mat-menu #menu="matMenu" class="custom-menu">
          <button mat-menu-item (click)="editarComputador(computador)">
            <i class="fa-solid fa-pen-to-square"></i>
            <span>Editar</span>
          </button>
    
          <button mat-menu-item (click)="excluirComputador(computador)">
            <i class="fa-solid fa-trash"></i>
            <span>Excluir</span>
          </button>
          <button mat-menu-item (click)="alternarRetirada(computador)">
            <i class="fa-solid" [ngClass]="computador.retirado ? 'fa-circle-check' : 'fa-circle-xmark'"></i>
            <span>{{ computador.retirado ? 'Disponibilizar' : 'Indisponibilizar' }}</span>
          </button>
        </mat-menu>
      </div>

      <div class="icone-central">
        <i class="fa-solid fa-desktop"></i>
      </div>

      <h4>{{ computador.nome }}</h4>
      <p><strong>Patrimônio:</strong> {{ computador.patrimonio }}</p>
      <div class="status-container" [ngClass]="{'retirado': computador.retirado, 'disponivel': !computador.retirado}">
        <i class="fa-solid" [ngClass]="computador.retirado ? 'fa-circle-xmark' : 'fa-circle-check'"></i>
        <span>{{ computador.retirado ? 'Indisponível' : 'Disponível' }}</span>
      </div>
    </div>
  </ng-container>
</div>

  <div class="criar-computador-btn">
    <button (click)="criarComputador()" class="botao-novo">
      <i class="fa-solid fa-plus"></i> Novo Computador
    </button>
  </div>  
</div>