<div class="login-container">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <h2>Criar Conta</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <input
      type="text"
      placeholder="Nome"
      formControlName="nome"
    />
    <div *ngIf="form.get('nome')?.touched && form.get('nome')?.invalid" class="error">
      Nome é obrigatório
    </div>

    <input
      type="email"
      placeholder="E-mail"
      formControlName="email"
    />
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
      E-mail inválido ou obrigatório
    </div>

    <div class="password-wrapper">
      <input
        [type]="hide ? 'password' : 'text'"
        placeholder="Senha"
        formControlName="senha"
      />
      <button type="button" class="toggle-btn" (click)="hide = !hide">
        <i [class]="hide ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
      </button>
    </div>

    <div class="password-wrapper">
      <input
        [type]="hideConfirmacao ? 'password' : 'text'"
        placeholder="Confirmar Senha"
        formControlName="confirmacao"
      />
      <button type="button" class="toggle-btn" (click)="hideConfirmacao = !hideConfirmacao">
        <i [class]="hideConfirmacao ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
      </button>
    </div>

    <div *ngIf="senha?.touched && senha?.hasError('invalidsenha')" class="error">
      A senha deve conter uma letra maiúscula, número e caractere especial.
    </div>

    <div class="button-group">
      <button type="submit" class="submit-button" [disabled]="form.invalid || form.pending">
        <span class="button-text">Cadastrar</span>
        <div class="button-glow"></div>
      </button>

      <button type="button" (click)="cancelar()" class="cancel-button">
        Cancelar
      </button>
    </div>
  </form>

  <a routerLink="/login">Já tem conta? Entrar</a>
</div>